/* preahvihear-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Preahvihear';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/preahvihear-v29-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cairo-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/cairo-v28-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* rubik-doodle-shadow-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik Doodle Shadow';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/rubik-doodle-shadow-v1-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    scrollbar-color: transparent transparent;
}
::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

body {
    background-color: rgb(26, 26, 45);
    color: bisque;
    margin: 0;
    padding: 0;
    font-family: 'Preahvihear', normal;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
    min-height: 100vh;
    width: 100vw;
}

h1 {
    color: rgb(135, 214, 90);
    margin-bottom: 0;
    font-family: 'Cairo', normal;
}

.article-date {
    color: rgb(159, 212, 128);
    margin-top: 0;
}

h2 {
    color: rgb(255, 202, 138);
    font-family: 'Cairo', normal;
}

h3 {
    color: rgb(255, 215, 167);
    font-family: 'Cairo', normal;
}

#header {
    background-color: rgb(39, 39, 66);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
}

#header-title {
    font-size: 40px;
    font-family: 'Rubik Doodle Shadow', normal;
    margin: 0;
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
    /* text-decoration: underline; */
    position: absolute;
    left: 0;
    bottom: 0px;
}

#site-visits {
    position: absolute;
    right: 140px; /* Adjust the value based on the width of #header-fork */
    bottom: 0;
    padding: 0;
    font-family: 'Cairo', normal;
    font-size: 20px;
    
}

#header-fork {
    position: absolute;
    right: 0;
    padding: 0;
    padding-right: 25px;
    padding-top: 25px;
    height: 80px;
}

#header-fork img {
    height: 150px;
}

@media only screen and (max-width: 600px) {
    #header-fork {
        display: none;
    }
    #site-visits {
        right: 10px;
    }
}
@media only screen and (max-width: 455px) {
    #site-visits {
        display: none;
    }
}

#content {
    width: 100vw;
    display: flex;
    justify-content: center;
}

#articles {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#footer {
    background-color: rgba(39, 39, 66, 0.8);
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer a{
    color: rgb(159, 212, 128);
    text-decoration: none;
}
#footer p {
    margin: 0;
    padding: 0;
    padding-right: 50px;
    padding-left: 50px;
    font-family: 'Cairo', normal;
    font-size: 15px;
    color: rgb(159, 212, 128);
    width: 200px;
    overflow: wrap;
}

#jtlbutton {
    font-family: Cairo, normal;
    color: rgb(64, 64, 108);
    padding: 4px 10px;
    margin: 0;
    background-color: rgb(135, 214, 90);
    border-radius: 6px;
}

#jtlbutton:hover {
    background-color: rgb(159, 212, 128);
}

.img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.article-img {
    max-height: 80vh;
    max-width: calc(100vw - 40px - 60px);
    border-radius: 12px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}